.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(204, 204, 204, 0.2705882353);
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  margin: 20px 0 10px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #ffffff;
}

.create-event-btn {
  background-color: #ffffff;
  border-color: #a89e9e;
  border-radius: 50px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2509803922);
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  width: 150px;
  height: 50px;
}

.button-image {
  width: 45px;
  height: 43px;
}
.button-image .google-plus {
  width: 45px;
  height: 43px;
  object-fit: cover;
}

.bottom-line {
  width: 100%;
  height: 1px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation {
  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  margin-left: 50px;
}
.navigation__today-btn {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-right: 60px;
}
.navigation__displayed-month {
  font-size: 26px;
  margin-left: 60px;
}
.navigation__nav-icon {
  margin-left: 30px;
}

.calendar {
  display: inline;
  margin-left: 20px;
  padding-top: 80px;
}
.calendar__time-label {
  display: inline;
  font-size: 12px;
  position: absolute;
  top: 145px;
  left: 7px;
}
.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 0;
  width: auto;
  background: #fff;
}
.calendar__day-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}
.calendar__day-label .day-label__day-name {
  margin-bottom: 30px;
}
.calendar__day-label .day-label__day-number {
  font-size: 24px;
}

.calendar__week-container {
  display: flex;
}
.calendar__week-container__time-scale {
  display: flex;
  flex-direction: column;
}
.calendar__week-container .time-slot {
  width: 48px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;
}
.calendar__week-container .calendar__week {
  display: flex;
  width: 100%;
  height: 100%;
}
.calendar__week-container .calendar__day {
  width: 100vw;
  height: 60px;
  background-color: aqua;
  border: 1px solid black;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
