// стили сетки календаря и заголовка календаря с днями недели

.calendar {
  display: inline;
  margin-left: 20px;
  padding-top: 80px;

  &__time-label {
    display: inline;
    font-size: 12px;
    position: absolute;
    top: 145px;
    left: 7px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 0;
    width: auto;
    background: #fff;
  }

  &__day-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    .day-label__day-name {
      margin-bottom: 30px;
    }

    .day-label__day-number {
      font-size: 24px;
    }
  }
}

.calendar__week-container {
  display: flex;

  &__time-scale {
    display: flex;
    flex-direction: column;

  }
  .time-slot {
    width: 48px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }

  .calendar__week {
    display: flex;
    width: 100%;
    height: 100%;

  }
  .calendar__day {
    width: 100vw;
    height: 60px;
    background-color: aqua;
    border: 1px solid black;
  }

}