// стили сетки календаря и заголовка календаря с днями недели

.calendar {
  margin-left: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
    margin-right: 0;
    width: auto;
    background: #fff;
  }

  &__day-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;

    .day-label__day-name {
      margin-bottom: 30px;
    }

    .day-label__day-number {
      font-size: 24px;
    }
  }
}

// .calendar {
//   margin-left: 20px;

//   &__header {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//     margin: auto;
//     width: auto;
//     background: #fff;
//   }

//   .calendar__day-label {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
    
//     &__day-name {
//       text-transform: uppercase;
//     }
//   }
// }