// стили сетки календаря и заголовка календаря с днями недели

.calendar {
  &__header {
    margin: auto;
    width: auto;
    background: #fff;

    &-days {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      .day {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 5px;
        cursor: pointer;
        text-align: center;

        &.active {
          color: #4285F4;
        }

        &.active .calendar__header-daysnumber {
            background-color: #4285F4;
            color: white;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 40px;
        }
      }

      .calendar__header-daysnumber {
        background-color: transparent;
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
      }
      
      .calendar__header-daysnumber.blue-bg {
        background-color: blue;
        color: white;
      }
    }
  }
}