// стили боковой временной шкалы
.calendar__week-container {
  display: flex;

  .calendar__time-scale {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    padding-right: 8px;
  }

  .time-slot {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }
}
